# 15-10-2024

# label encoding

In [63]:
import pandas as pd
df = pd.DataFrame({"gender":["m","f","m","m","f","f","m","m","f","m"]})
df

  gender
0      m
1      f
2      m
3      m
4      f
5      f
6      m
7      m
8      f
9      m

In [64]:
from sklearn.preprocessing import LabelEncoder

In [65]:
le = LabelEncoder()
le.fit_transform(df["gender"])

array([1, 0, 1, 1, 0, 0, 1, 1, 0, 1])

In [57]:
le = LabelEncoder()
df["en_gender"] = le.fit_transform(df["gender"])

In [58]:
df

  gender  en_gender
0      m          1
1      f          0
2      m          1
3      m          1
4      f          0
5      f          0
6      m          1
7      m          1
8      f          0
9      m          1

In [59]:
# 4 columns 
# experience  satisfaction level        hrs work performanbce
#  beginer       low                      40          avg
# advanced      high                     50          good
# intermediate mecium                     45           good
# beginer        med                    30              poor
# advanced      low                  60               avg

# ordinal encoder

In [66]:
# FEATURE COLUMNS MEANS INPUT VARIABLES.
# ordinal en will apply on features
# PREDICTED COLUMN IS TARGET VARIABLE ELSE EVERYTHING IS CALLED FEATURES

In [67]:
import pandas as pd
df1 = pd.DataFrame({"experience":["beginer", "advanced", "intermediate", "beginer", "advanced"],
                  "satisfaction_level": ["low", "high","medium", "medium", "low"],
                  "hrs_work": [40,50,45,30,60],
                  "performance": ["avg", "good", "good", "poor", "avg"]})
df1

     experience satisfaction_level  hrs_work performance
0       beginer                low        40         avg
1      advanced               high        50        good
2  intermediate             medium        45        good
3       beginer             medium        30        poor
4      advanced                low        60         avg

In [68]:
from sklearn.preprocessing import OrdinalEncoder

In [69]:
ordinal_encoder = OrdinalEncoder(categories=[['beginer', 'intermediate', 'advanced'], ['low','medium','high']])
ordinal_encoder

# 'Beginer', 'Intermediate', 'Advanced' => 0,1,2

OrdinalEncoder(categories=[['beginer', 'intermediate', 'advanced'],
                           ['low', 'medium', 'high']])

In [70]:
# ordinal_encoder
df1[["experience","satisfaction_level"]] = ordinal_encoder.fit_transform(df1[["experience","satisfaction_level"]])

# OHE

In [24]:
# question: apply ohe on fuel, owner using  # pandas or scikit learn.

In [25]:
# USing pandas

In [26]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Acer\Downloads\cars.csv")
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [27]:
df["fuel"].nunique()

4

In [28]:
df["owner"].nunique()

5

In [29]:
# feature me ohe ya one hot. feature means input variable
# label kbhi bhi independennt pe ni lgta

In [30]:
en_data = df[["fuel", "owner"]]
en_data

        fuel                 owner
0     Diesel           First Owner
1     Diesel          Second Owner
2     Petrol           Third Owner
3     Diesel           First Owner
4     Petrol           First Owner
...      ...                   ...
8123  Petrol           First Owner
8124  Diesel  Fourth & Above Owner
8125  Diesel           First Owner
8126  Diesel           First Owner
8127  Diesel           First Owner

[8128 rows x 2 columns]

In [31]:
a = pd.get_dummies(en_data, dtype= int)
a

,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,0,1,0,0,1,0,0,0,0
1,0,1,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0,0
4,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
8123,0,0,0,1,1,0,0,0,0
8124,0,1,0,0,0,1,0,0,0
8125,0,1,0,0,1,0,0,0,0
8126,0,1,0,0,1,0,0,0,0
8127,0,1,0,0,1,0,0,0,0

In [32]:
b = pd.get_dummies(en_data).info()
b

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fuel_CNG                    8128 non-null   bool
 1   fuel_Diesel                 8128 non-null   bool
 2   fuel_LPG                    8128 non-null   bool
 3   fuel_Petrol                 8128 non-null   bool
 4   owner_First Owner           8128 non-null   bool
 5   owner_Fourth & Above Owner  8128 non-null   bool
 6   owner_Second Owner          8128 non-null   bool
 7   owner_Test Drive Car        8128 non-null   bool
 8   owner_Third Owner           8128 non-null   bool
dtypes: bool(9)
memory usage: 71.6 KB

# OHE using scikit learn

In [34]:
# importing
from sklearn.preprocessing import OneHotEncoder

In [35]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 16256 stored elements and shape (8128, 9)>

In [36]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data).toarray()

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [37]:
ohe = OneHotEncoder()
ar = ohe.fit_transform(en_data).toarray()
ar

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [38]:
pd.DataFrame(ar,columns=["fuel_CNG","fuel_Diesel","fuel_LPG","fuel_Petrol","owner_First Owner","owner_Fourth & Above Owner","owner_Second Owner","owner_Test Drive Car","owner_Third Owner"])

,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
8123,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
8124,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8125,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8126,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8127,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [39]:
ohe = OneHotEncoder(drop="first")

# drop first is used to reduce features.

In [40]:
ar = ohe.fit_transform(en_data).toarray()
ar

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [41]:
pd.DataFrame(ar,columns=["fuel_Diese","fuel_LPG","fuel_Petrol","owner_Fourth & Above Owner","owner_Second Owner","owner_Test Drive Car","owner_Third Owner"])

,fuel_Diese,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
8123,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8124,1.0,0.0,0.0,1.0,0.0,0.0,0.0
8125,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8126,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8127,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
# myexplanation
#<-------------->
# label encoer target me lgta hai means y or jisko predict kr rje hai.

#     for 2 category use ordinal encoding,
#      for more than 2 category use ohe.